<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div>
    <h1>로그인</h1>
</div>
<!-- action을 비워 놓으면 들어온 url과 동일하게 post로 그대로 가지고 감. -->
<form method="post" th:action th:object="${member}">
    <div>
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력하세요." />
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요." />
    </div>
    <div>
        <button type="submit">로그인</button>
        <button type="reset" th:onclick="|location.href='@{/}'|">취소</button>
    </div>
</form>
</body>
</html>