<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>상품 수정</h1>
</div>
<form method="post" th:action="@{/basic/edit/{id}(id=${item.id})}">
    <div>
        <label for="id">상품 ID</label>
        <input type="text" name="id" id="id" th:value="${item.id}" readonly />
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" name="itemName" id="itemName" th:value="${item.itemName}" />
    </div>
    <div>
        <label for="price">상품 가격</label>
        <input type="text" name="price" id="price" th:value="${item.price}" />
    </div>
    <div>
        <label for="quantity">상품 수량</label>
        <input type="text" name="quantity" id="quantity" th:value="${item.quantity}" />
    </div>
    <div>
        <button type="submit">등록</button>
        <button type="reset" th:onclick="|location.href='@{/basic/items}'|">취소</button>
    </div>
</form>
</body>
</html>