<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item</title>
</head>
<body>
<div>
    <h1>상품 상세</h1>
</div>
<div>
    <label for="id">상품 ID</label>
    <input type="text" name="id" id="id" readonly />
</div>
<div>
    <label for="itemName">상품명</label>
    <input type="text" name="itemName" id="itemName" value="상품1" readonly />
</div>
<div>
    <label for="price">상품 가격</label>
    <input type="text" name="price" id="price" value="20000" readonly />
</div>
<div>
    <label for="quantity">상품 수량</label>
    <input type="text" name="quantity" id="quantity" value="100" readonly />
</div>
<div>
    <button type="button" onclick="location.href='editForm.html'">상품 수정</button>
    <button type="button" onclick="location.href='items.html'">상품 목록</button>
</div>
</body>
</html>